@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.text__light {
  font-weight: 300;
}
.text__normal {
  font-weight: 400;
}
.text__bold {
  font-weight: 900;
}

.article_title {
  font-weight: 900;
  font-size: 2rem;
  text-decoration: underline;
  color: #181d2a;
}

.subsection_title {
  font-weight: 900;
  font-size: 3rem;
  color: #181d2a;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-size: normal;
  font: inherit;
}

@keyframes blinker {
  33% {
    opacity: 0;
  }
}
.triangle_down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fcfaf3;
}

::-webkit-scrollbar-thumb {
  background: #014483;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  background-color: #fcfaf3;
}
body html {
  height: 100%;
  margin: 0;
}
body p {
  color: #181d2a;
}

.intro_screen {
  font-size: normal;
  margin: 0px;
  background-color: #181d2a;
  color: #fcfaf3;
  width: 100vw;
  position: fixed;
  bottom: -8vh;
  overflow-y: hidden;
}
.intro_screen .fulltitle {
  height: 95vh;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro_screen .fulltitle .title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 120%;
  padding-left: 0px;
}
.intro_screen .fulltitle .subtitle {
  padding-left: 3rem;
  color: #fcfaf3;
  font-size: 2rem;
}
.intro_screen #intro_triangle_wrapper {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fcfaf3;
}
.intro_screen #intro_triangle_wrapper .triangle_down {
  border-top-color: #181d2a;
  border-top-width: 3vh;
  border-left-width: 2vh;
  border-right-width: 2vh;
  animation: blinker 2s infinite;
}
.intro_screen #intro_triangle_wrapper .pointUp {
  transform: rotate(180deg);
}
.intro_screen #intro_triangle_wrapper:hover {
  background-color: #f2e9ca;
}
.intro_screen .about_me {
  background-color: #fcfaf3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vh;
}
.intro_screen .about_me h3 {
  width: 60%;
  height: 100%;
  text-align: center;
  color: #181d2a;
  border-bottom: 2px solid #181d2a;
}

.main .about_me_text {
  padding-top: 10%;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .about_me_text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #181d2a;
  margin-bottom: 1rem;
}
.main .introduction {
  text-align: center;
  width: 50%;
  margin-bottom: 5rem;
}
.main .introduction img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  object-position: 10% 40%;
}
.main .projects {
  width: 70%;
}
.main .projects .subsection_title {
  text-align: center;
}
.main .projects hr {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: -2.5%;
  width: 105%;
  border-style: inset;
  border-width: 1px;
  border-color: #181d2a;
}

.wip {
  font-size: 1.5rem;
  font-weight: 400;
  color: #181d2a;
  background-color: rgb(193, 221, 243);
  margin: 0%;
  padding: 0%;
  padding-top: 5%;
  padding-bottom: 2%;
  height: 20%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */