@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.color-primary {
  color: #181d2a;
}

.color-secondary {
  color: #014483;
}

.color-lighter {
  color: #50608b;
}

.fill-primary {
  fill: #181d2a;
}

.fill-secondary {
  fill: #014483;
}

.fill-lighter {
  fill: #50608b;
}

.back-primary {
  background-color: #fcfaf3;
}

.back-secondary {
  background-color: rgb(193, 221, 243);
}

.text {
  font-size: 1rem;
}
.text__light {
  font-weight: 300;
}
.text__normal {
  font-weight: 400;
}
.text__bold {
  font-weight: 700;
}

.font_title {
  font-size: 6rem;
}

.font_subtitle {
  font-size: 2rem;
}

.font_article_title {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: underline;
  color: #181d2a;
}

.font_date {
  font-style: italic;
  font-size: 1.2rem;
  color: #50608b;
}

.font_subsection_title {
  font-weight: 700;
  font-size: 3rem;
  color: #181d2a;
}

#very {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  bottom: 2px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: normal;
  font: inherit;
  border-radius: 0 !important;
}

@keyframes blinker {
  50% {
    opacity: 10%;
  }
}
.triangle_down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid white;
}

html {
  overflow-y: scroll;
}
html ::-webkit-scrollbar {
  width: 0px;
}

@media (min-width: 576px) {
  html {
    overflow-y: hidden;
  }
}
html.show_scroll {
  overflow-y: scroll;
}
@media (min-width: 576px) {
  html.show_scroll ::-webkit-scrollbar {
    width: 4px;
  }
  html.show_scroll ::-webkit-scrollbar-track {
    background: #fcfaf3;
  }
  html.show_scroll ::-webkit-scrollbar-thumb {
    background: #014483;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  background-color: #fcfaf3 !important;
  color: #181d2a;
}

.intro_screen {
  font-size: normal;
  margin: 0px;
  background-color: #181d2a;
  color: #fcfaf3;
  width: 100vw;
  position: fixed;
  bottom: 0;
  overflow-y: hidden;
}
.intro_screen .fulltitle {
  height: 95vh;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro_screen .fulltitle .title {
  line-height: 120%;
  padding-left: 0px;
}
.intro_screen .fulltitle .subtitle {
  padding-left: 3rem;
}
.intro_screen #intro_triangle_wrapper {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fcfaf3;
}
.intro_screen #intro_triangle_wrapper .triangle_down {
  border-top-color: #181d2a;
  border-top-width: 3vh;
  border-left-width: 2vh;
  border-right-width: 2vh;
}
.intro_screen #intro_triangle_wrapper .point_up {
  transform: rotate(180deg);
}
.intro_screen #intro_triangle_wrapper:hover {
  background-color: #f2e9ca;
}
.intro_screen #intro_triangle_wrapper:hover #intro_triangle {
  animation: blinker 1.5s infinite;
}

.about_me {
  background-color: #fcfaf3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_me .portrait {
  min-height: 400px;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  background-image: url(/img/portrait.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: left 30% bottom 130%;
}
@media (min-width: 576px) {
  .about_me .portrait {
    height: 400px;
    width: 550px;
    background-size: 550px;
    background-position: left 50% bottom 140%;
  }
}
.about_me h3 {
  text-align: center;
  color: #181d2a;
  border-bottom: 2px solid #181d2a;
}
.about_me p {
  font-size: 1.2rem;
}

.project_item {
  margin: 0.5rem !important;
  margin-top: 0;
}
.project_item .project_img_container {
  max-height: 200px;
  overflow: hidden;
}
.project_item .project_img_container .project_img {
  width: 100%;
  max-width: 70vw;
}

.wip {
  background-color: rgb(193, 221, 243);
}

.nav-link {
  fill: #181d2a;
  text-align: center;
}
.nav-link :hover {
  fill: #50608b;
  transition: 100ms ease-in-out;
}/*# sourceMappingURL=main.css.map */