$primary: #181d2a;
$lighter: lighten($primary, 30%);
$secondary: #014483;
$background: #fcfaf3;
$background_secondary: rgb(193, 221, 243);

.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}

.back-primary {
  background-color: $background;
}
.back-secondary {
  background-color: $background_secondary;
}