// Main website font: Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$bold: 900;
$normal: 400;
$light: 300;

.text {
  &__light {
    font-weight: $light;
  }
  &__normal {
    font-weight: $normal;
  }
  &__bold {
    font-weight: $bold;
  }
}

.article_title {
  font-weight: $bold;
  font-size: 2rem;
  text-decoration: underline;
  color: black;
}

.subsection_title {
  font-weight: $bold;
  font-size: 3rem;
}

@mixin article_title {
  font-weight: $bold;
  font-size: 1.1rem;
  text-decoration: underline;
  color: black;
}

@mixin subsection_title {
  font-weight: $bold;
  font-size: 3rem;
}

@mixin normal_text {
  font-size: 1.5rem;
  font-weight: $normal;
}