// Main website font: Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$bold: 700;
$normal: 400;
$light: 300;

.text {
  font-size: 1rem;
  &__light {
    font-weight: $light;
  }
  &__normal {
    font-weight: $normal;
  }
  &__bold {
    font-weight: $bold;
  }
}

.font-title {
  font-size: 6rem;
}

.font-subtitle {
  font-size: 2rem;
}

.font-article-title {
  font-weight: $bold;
  font-size: 2rem;
  text-decoration: underline;
  color: $primary;
}

.font-date {
  font-style: italic;
  font-size: 1.2rem;
  color: $lighter;
}

.font-subsection-title {
  font-weight: $bold;
  font-size: 3rem;
  color: $primary;
}

#very {
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  bottom: 2px;
}

@mixin article_title {
  font-weight: $bold;
  font-size: 1.1rem;
  text-decoration: underline;
  color: $primary;
}

@mixin subsection_title {
  font-weight: $bold;
  font-size: 3rem;
  color: $primary;
}

@mixin normal_text {
  font-size: 1.8rem;
  font-weight: $normal;
  color: $primary;
}