.intro_screen {
  font-size: normal;
  margin: 0px;
  background-color: $primary;
  color: $background;
  width: 100vw;
  position: fixed;
  bottom: 0;
  overflow-y: hidden;

  .fulltitle {
    height: 95vh;
    padding-left: 5%;
    .title {
      line-height: 120%;
      padding-left: 0px;
    }
    .subtitle {
      padding-left: 3rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #intro_triangle_wrapper {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $background;

    .triangle_down {
      border-top-color: $primary;
      border-top-width: 3vh;
      border-left-width: 2vh;
      border-right-width: 2vh;
    }
    .pointUp {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: darken($background, 10%);

      #intro_triangle {
        animation: blinker 1.5s infinite;
      }
    }
  }
  .about_me {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8vh;
    h3 {
      width: 60%;
      height: 100%;
      text-align: center;
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }
}