@keyframes blinker {
  33% {
    opacity: 0;
  }
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-top: 2rem solid white;
}