@import './fonts', './resets', './other', './mixins';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  html {
    height: 100%;
    margin: 0;
  }
  p {
    color: black;
  }
}

@import './intro';

.main {
  .about_me {
    padding-top: 1%;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 1%;
    background-color: White;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include normal_text;
      margin-bottom: 1rem;
    }
  }

  .introduction {
    img {
      width: 30%;
    }
    text-align: center;
    width: 50%;
    margin-bottom: 5rem;
  }

  .projects {
    .subsection_title {
      text-align: center;
    }
    hr {
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: -2.5%;
      width: 105%;
      border-style: inset;
      border-width: 1px;
    }

    &_description {
      display: flex;
      flex-direction: row;
      img {
        height: 5rem;
      }
    }
  }
}

.wip {
  @include normal_text;
  background-color: LightSteelBlue;
  margin: 0%;
  padding: 0%;
  padding-top: 5%;
  padding-bottom: 2%;
  height: 20%;
  text-align: center;
}