@import 'colors', './fonts', './resets', './other', './mixins';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: $background !important;
  color: $primary;
}

@import './intro';

.project_item {
  margin: .5rem !important;
  margin-top: 0;

  .project_img_container {
    max-height: 250px;
    //height: 100%;
    overflow: hidden;

    .project_img {
      width: 100%;
      max-width: 70vw;
    }
  }

  p {
    margin-top: 1rem;
  }
}

.wip {
  background-color: $background_secondary;
}

.nav-link {
  fill: $primary;
  text-align: center;
  :hover {
    fill: lighten($primary, 30%);
    transition: 100ms ease-in-out
  }
}