@import 'colors', './fonts', './resets', './other', './mixins';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: $background;
  html {
    height: 100%;
    margin: 0;
  }
  p {
    color: $primary;
  }
}

@import './intro';

.main {
  .about_me_text {
    padding-top: 1%;
    //width: 70%;
    margin-left: 15%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include normal_text;
      margin-bottom: 1rem;
    }
  }

  .introduction {
    img {
      width: 25vw;
      height: 17vw;
      object-fit: cover;
      object-position: 10% 40%;
    }
    text-align: center;
    //width: 50%;
    margin-top: 20vh;
    margin-bottom: 5rem;
  }

  .projects {
    width: 70%;
    .subsection_title {
      text-align: center;
    }
    hr {
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: -2.5%;
      width: 105%;
      border-style: inset;
      border-width: 1px;
      border-color: $primary;
    }
  }
}

.wip {
  @include normal_text;
  background-color: $background_secondary;
  margin: 0%;
  padding: 0%;
  padding-top: 5%;
  padding-bottom: 2%;
  height: 20%;
  text-align: center;
}