body {
  font-family: Helvetica, sans-serif;
  background-color: White;
  font-size: 100%;
}
h1 {
  color: White;
}
.title {
  line-height: 50%;
  margin: 0px;
  color: White;
  background-color: Black;
  font-size: 4em;
  padding-left: 0px;
}
.title h3 {
  padding: 3em;
}
.main {
  margin-left: 20px;
}
p {
  color: Black;
}
