* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 100%;
  margin: 0%;
}
.header-area {
  font-weight: bold;
  height: 80%;
  margin: 0px;
  padding-top: 20%;
  padding-left: 5%;
  background-color: Black;
  color: White;
}
#title {
  font-size: 6em;
  line-height: 110%;
  padding-left: 0px;
}
#subtitle {
  font-size: 2em;
  padding-left: 3em;
}
.main {
  margin-left: 20px;
  background-color: White;
}
p {
  color: Black;
}
