.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 540px;

  @media (max-width: calc($pg-md - 1px)) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: $pg-md) {
    max-width: calc($pg-md - 40px);
  }

  @media (min-width: $pg-lg) {
    max-width: calc($pg-lg - 80px);
  }

  @media (min-width: $pg-xl) {
    max-width: calc($pg-xl - 160px);
  }

  @media (min-width: $pg-xxl) {
    --side-padding: auto;
    max-width: calc($pg-xxl - 320px);
  }

  &.container-fluid {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}
