footer {
  background: $primary;
  color: $secondary;
  width: 100%;
  margin-top: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  a {
    margin: 1rem;
    height: 20px;

    img,
    svg {
      width: 20px;
      height: 20px;
      fill: $white;
      text-align: center;
      transition: 100ms ease-in-out;
    }

    &:hover {
      svg {
        fill: $secondary;
      }
    }
  }
}
