footer {
  background: $background-secondary;
  width: 100%;
  margin-top: auto;

  .nav-link {
    img,
    svg {
      width: 20px;
      height: 20px;
      fill: $primary;
      text-align: center;
      transition: 100ms ease-in-out;
    }

    &:hover {
      svg {
        fill: lighten($primary, 30%);
      }
    }
  }
}
