#custom-offcanvas,
#custom-offcanvas-fade {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#custom-offcanvas-fade {
  z-index: 998;
  background-color: black;
}

#intro-all {
  z-index: 999;
  position: fixed;
  translate: 0 -100%;
  transition: translate 250ms;
  width: 100%;
  height: 100%;
  pointer-events: all;

  &.active {
    translate: 0 0;
    overflow: hidden;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

.intro-screen {
  font-size: $font-normal;
  margin: 0px;
  background-color: $primary;
  color: $background;
  width: 100%;
  height: 100vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .fulltitle {
    padding-left: 5%;
    .title {
      line-height: 120%;
      padding-left: 2rem;
      padding-bottom: 0;
    }
    .subtitle {
      padding-left: 2rem;
      padding-bottom: 0;
    }
  }

  #intro-triangle-wrapper {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .triangle-down {
      position: absolute;
      top: 0;
      rotate: 180deg;
      fill: white;

      &.outline {
        outline: 1px solid white;
      }
    }
    .point-up {
      transform: rotate(180deg);
    }
    &:hover {
      #intro-triangle {
        animation: blinker 1.5s infinite;
      }
    }
  }
}
