#home-page {
  background-color: $background;

  #hero-wrapper {
    color: $secondary;
    background: $primary;
    padding: 2rem 0;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $pg-lg) {
      flex-direction: row;
      gap: 3rem;
    }

    .portrait {
      object-fit: cover;
      width: 100%;
      // mask-image randomly generated
      mask-size: contain;
      mask-repeat: no-repeat;
      @media (min-width: $pg-xs) {
        width: 350px;
      }
    }
  }

  .header-svg {
    // primary color
    filter: brightness(0) saturate(100%) invert(9%) sepia(88%) saturate(322%)
      hue-rotate(56deg) brightness(94%) contrast(102%);
    // secondary color
    // filter: brightness(0) saturate(100%) invert(79%) sepia(14%) saturate(914%)
    //   hue-rotate(40deg) brightness(89%) contrast(90%);
  }

  #contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    background: $secondary;

    img {
      width: 2rem;
      aspect-ratio: 1/ 1;
    }
  }

  #name {
    font-size: 4em;
    font-weight: 700;
  }

  // main section below

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .home-page-section {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .section-title {
    font-weight: 500;
  }

  .body {
    p {
      font-size: 1.1rem;
    }
  }

  #skills {
    .body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
    }

    .skill {
      flex: 0;
      width: 100%;
      max-height: 230px;
      height: 3rem;
    }
  }
}
