body {
  @media screen and (max-width: 576px) {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  @media screen and (min-width: 576px) {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $primary;
    }
    &::-webkit-scrollbar-thumb {
      background: $background-secondary;
    }
  }
}

.App {
  background-color: $background;
  display: flex;
  flex-direction: column;
}

.main {
  $header-height: $navbar-height;
  margin-top: $header-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
