body {
  @media screen and (max-width: $pg-sm) {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  @media screen and (min-width: $pg-sm) {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $primary;
    }
    &::-webkit-scrollbar-thumb {
      background: $background-secondary;
    }
  }
}

.App {
  background-color: $background;
  display: flex;
  flex-direction: column;
}
