.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .project-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 7px 15px black;

    @media (min-width: $pg-md) {
      flex-direction: row !important;
    }

    .project-img {
      flex-direction: row !important;
      outline: 1px solid black;
      object-fit: cover;
      object-position: center top;
      width: 100%;
      aspect-ratio: 16 / 9;

      @media (min-width: $pg-md) {
        width: 300px;
        aspect-ratio: 1 / 1;
      }
    }

    .body {
      padding: 1rem;
    }

    p {
      margin-top: 1rem;
    }

    width: fit-content;
    max-width: 900px;
    justify-content: center;

    .pill {
      display: inline-block;
      border-radius: 1000px;
      padding: 2px 8px;
      margin-right: 6px;

      $badge-color: rgb(0, 101, 160);
      background-color: $badge-color !important;
      color: lighten($badge-color, 70%) !important;

      font-size: 0.8rem;
      letter-spacing: 1px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
  }
}
