.projects {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .project {
    @media (min-width: 768px) {
      flex-direction: row !important;
    }

    .project-img {
      flex-direction: row !important;
      object-fit: contain;
      height: 100%;
      width: 300px;
      aspect-ratio: 1 / 1;
      // flex: 1;
    }

    p {
      margin-top: 1rem;
    }

    width: fit-content;
    max-width: 900px;
    justify-content: center;
  }
}
