.about_me {
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 576px) {
    .portrait {
      width: 400px;
      height: 500px;
      object-fit: cover;
      object-position: 0% 10%;
    }
  }

  @media (max-width: 576px) {
    .portrait {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: 0% 0%;
    }
  }

  @media (max-width: 400px) {
    .portrait {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 0% 0%;
    }
  }

  h3 {
    text-align: center;
    color: $primary;
    border-bottom: 2px solid $primary;
  }

  p {
    font-size: 1.2rem;
  }
}
