// @import '../../node_modules/bootstrap/scss/bootstrap';

@import '../../node_modules/bootstrap/scss/functions';

@import './colors', './fonts';
@import '../../node_modules/bootstrap/scss/variables';

@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

@import './fonts', './resets', './other', './mixins';

body {
  @media screen and (max-width: 576px) {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  @media screen and (min-width: 576px) {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $primary;
    }
    &::-webkit-scrollbar-thumb {
      background: $background-secondary;
    }
  }
}

.App {
  height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
}

.main {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: $primary;
  background-color: $background;

  $header-height: $nav-link-height + 2 * $nav-link-padding-y;
  padding-top: $header-height + 1rem;
  padding-bottom: 1rem;
  position: relative;

  #pull-intro {
    top: 0px;
    width: 30px;
    height: 80px;
    right: 10px;
    position: fixed;
    background-color: $primary;
    border-radius: 15px;
  }
}

@import './intro';
@import './home';
@import './header';
@import './projects';
@import './wip';
@import './footer';

@import '../../node_modules/bootstrap/scss/bootstrap';
