$black: #080804;
$white: #fffff0;
$primary: #0e1c07;
$dark: $primary;
$lighter: lighten($primary, 30%);
$secondary: #a3be73;
$accent: #251209;
$background: $white;
$background_secondary: $black;

.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-lighter {
  color: $lighter;
}

.fill-primary {
  fill: $primary;
}
.fill-secondary {
  fill: $secondary;
}
.fill-lighter {
  fill: $lighter;
}

.back-primary {
  background-color: $background;
}
.back-secondary {
  background-color: $background_secondary;
}
