// Main website font: Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// Code font: JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
// Other font: Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin article_title {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: $primary;
}

@mixin normal_text {
  font-weight: normal;
  font-size: 1.8rem;
  color: $primary;
}

.text {
  font-size: 1rem;
  &-light {
    font-weight: light;
  }
  &-normal {
    font-weight: normal;
  }
  &-bold {
    font-weight: bold;
  }
}

.font-title {
  font-size: 4rem;
}

.font-subtitle {
  font-size: 2rem;
}

.font-article-title {
  @include article_title;
}

.font-date {
  font-style: italic;
  font-size: 1.2rem;
  color: $lighter;
}

.code {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  color: rgb(221, 221, 221);
  position: relative;
  bottom: 2px;

  &-keyword {
    @extend .code;
    color: rgb(255, 28, 179);
  }
  &-class {
    @extend .code;
    color: rgb(81, 216, 164);
  }
  &-string {
    @extend .code;
    color: rgb(255, 209, 110);
  }
  &-text {
    @extend .code;
    color: rgb(255, 255, 255);
  }
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

small {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
