// Main website font: Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// Code font: JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
// Other font: Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-bold: 700;
$font-normal: 400;
$font-light: 300;

@mixin article_title {
  font-weight: $font-bold;
  font-size: 2rem;
  text-decoration: none;
  color: $primary;
}

@mixin subsection_title {
  font-weight: $font-normal;
  font-size: 2rem;
  color: $primary;
}

@mixin normal_text {
  font-weight: $font-normal;
  font-size: 1.8rem;
  color: $primary;
}

.text {
  font-size: 1rem;
  &-light {
    font-weight: $font-light;
  }
  &-normal {
    font-weight: $font-normal;
  }
  &-bold {
    font-weight: $font-bold;
  }
}

.font-title {
  font-size: 6rem;
}

.font-subtitle {
  font-size: 2rem;
}

.font-article-title {
  @include article_title;
}

.font-date {
  font-style: italic;
  font-size: 1.2rem;
  color: $lighter;
}

.font-subsection-title {
  @include subsection_title;
}

.code {
  font-size: 1.5rem;
  font-weight: $font-bold;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  position: relative;
  bottom: 2px;
}
