* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font: inherit;
  box-sizing: border-box;
  border-radius: 0;
}

ul {
  padding-left: 1.5rem;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: normal;
}
